<% if @article.errors.any? %>
  <h2>The following errors occurred while trying to save the article</h2>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>