<h1>Edit a article</h1>

<%= render "form" %>

<%= link_to "Cancel and return to listing", articles_path %> |
<%= link_to "Delete", article_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>