<h1 class="text-center mt-4">Edit category name</h1>

<div class="container">
  <div class="row justify-content-center">
    <%= render "form" %>
    <div class="mb-3 text-center">
      <%= link_to "[ Cancel and return to category ]", category_path(@category), class: "link-info link-underline link-underline-opacity-0 link-underline-opacity-100-hover" %>
    </div>
  </div>
</div>