<footer class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "José Neilson", "https://github.com/jose-neilson", class: "text-white", target: '_blank' %> </small>
  </div>
</footer>